name: Test
on:
  pull_request:
    branches:
    - master

jobs:
  test:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: "0"
    - name: Build image
      run: make docker
  test_go_get:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.15', '1.16', '1.17' ]
    name: Go get with Go ${{ matrix.go }}
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - run: go get -v github.com/vshn/signalilo@${{ github.head_ref }}
      env:
        GO111MODULE: on
        GOPROXY: direct
    - run: signalilo --version
